<header class="header">
		<div class="header-container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-sx-10">
						<div class="circle"></div>
						<h1 class="title">Settings</h1>
				</div>
                               
				<div class="col-lg-8 col-md-8 col-sm-8 col-sx-6">

					<h3 class="hi">{{username}} pick your favs </h3>

					<a href="/profile">{{username}} page</a>
                    <a href="/user/logout">LOGOUT</a>
					<div class="userCircle"></div>

				</div>
			</div>
		</div>
</header>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
 {{#each mountainsArray}}    
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading" data-id="{{ this.id }}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" aria-expanded="false" aria-controls="">
          {{this.name}}, {{this.state}}
        </a> <button class ="place"> + </button>
      </h4>
    </div>
    <div id="collapse{{@index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
        <div class="panel-body">
            <p>{{this.trails.number}}</p>
            <p>{{this.trails.open}}</p>
            <p>{{this.trails.closed}}</p>
            <p>{{this.conditions}}</p>
          <p>{{# each this.nightlife.bars}}</p>
                {{this.name}}<br>
                {{this.type}}<br>
                {{this.address}}<br>
                {{/each}}
            <p>{{# each this.nightlife.restaurants}}</p>
                {{this.name}}<br>
                {{this.type}}<br>
                {{this.address}}<br>
                {{/each}}
           
        </div>
    </div>
    {{/each}}
  </div>




