<header class="user-header">
		<div class="header-container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-sx-10">
						<div class="circle"></div>
						<h1 class="title">{{username}}</h1>
				</div>
				<div class="col-lg-8 col-md-8 col-sm-8 col-sx-6">
					<nav>
						<div class="user-nav">
							<a href="/home">Settings</a>
							<a href="/user/logout">Sign Out</a>
							
						</div>
					</nav>
				</div>
			</div>
		</div>
</header>	

</section class="user-mountains">

		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
 {{#each favoriteMountainArray}}    
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="heading" data-id="{{ this.id }}">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{@index}}" aria-expanded="false" aria-controls="">
          	
						<p class="favMount" id="favMount" style="background-image:url({{this.img}});">{{this.name}} <span>&deg;F</span>
						<img class="weather-icon" src="../images/SVG/Shades.svg"/></p>
						
										{{!-- <canvas id="icon1" width="128" height="128"></canvas> --}}
        </a>
      </h4>
    </div>
    <div id="collapse{{@index}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading">
        <div class="panel-body  vail">
            <p> Trails: {{this.trails.number}}</p>
            <p> Open Trails: {{this.trails.open}}</p>
            <p>Closed Trails:{{this.trails.closed}}</p>
            <p>Conditions {{this.conditions}}</p>
            <p id="bars"> Bars </p>
          <p>{{#each this.nightlife.bars}}</p>
                {{this.name}}<br>
                {{this.type}}<br>
                {{this.address}}<br>
                {{/each}}<br>
                <p id="restaurants"> Restaurants </p>
            <p>{{#each this.nightlife.restaurants}}</p>
                {{this.name}}<br>
                {{this.type}}<br>
                {{this.address}}<br>

                {{/each}}
             </a> <button class ="remove" data-id= "{{this.id}}"> - </button>
        </div>
    </div>
    {{/each}}
  </div>

				{{!-- <div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8 col-sx-6"> --}}
					
					
						{{!-- <div class="mountainName">
						<p class="favMount">{{this.name}} 21<span>&deg;F</span><img class="weather-icon" src="../images/png/006-sun.png"/></p>
						
										{{!-- {{!-- <canvas id="icon1" width="128" height="128"></canvas>  --}}

		
			{{!-- </div> --}}


			



